body {
    margin: 0;
}

.wrapper {
    display: grid;
    width: auto;
    height: auto;
    padding: 2em;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "img"
        "footer";
    grid-gap: 0px;
    min-height: 2em;
    grid-template-rows: auto auto auto 1fr;
    grid-template-columns: 1fr;
}

header {
    text-align: center;
    grid-area: header;
}

h1 {
    text-align: center;
    font-family: "Brush Script MT", Cursive;
    text-shadow: 3px 3px;
    font-size: 50px;
}

h2 {
    text-align: center;
    font-size: 50px;
    color: black;
    padding: 0;
    grid-column: 1/span 2;
}

nav>ul {
    grid-area: nav;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

li a {
    display: inline;
    text-align: center;
    font-size: 1.7em;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #ccc;
    color: #000;
    border-radius: 5px;
}

li a:hover {
    background-color: blueviolet;
    color: white;
    font-size: xx-large;
}

.lokalnav a {
    text-align: left;
    padding: 5vw;
    display: block;
    font-size: 3vh;
    padding-top: 13vh;
}

.lokalnav a:hover {
    background-color: blueviolet;
    color: white;
    font-size: 3vh;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    grid-area: footer;
    text-align: center;
    background-color: cornflowerblue;
    color: white;
    width: 100%;
    margin-top: 2vh;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#gamlagrid{
    display:grid;
    grid-template-columns: 3fr 4fr;
}

section {
    padding-left: 2vw;
}

th {
    text-align: center;
    width: 35%;
    font-size: larger;
}

td {
    text-align: center;
    font-size: larger;
}

caption {
    text-align: center;
    font-size: xx-large;
}

tr:nth-child(odd) {
    background-color: #d8d8d8;
}

table,
th,
td {
    border: 2px solid;
    border-collapse: collapse;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: rgb(113, 113, 233);
}

input[type=submit]:hover {
    background-color: #ccc;
}